$gray-light: gray;
$gray: dimgray;
$gray-dark: #2e2e2e;
$sprite-size: 50px;
$glow: 0 0 2px 1px rgba(white, 0.2);
$rounding: 0.1rem;

body {
    margin: 0;
    background: rgb(19, 32, 32);
    color: white;
    font-family: sans-serif;
}

button {
    padding: 0;
    margin: 0;
    border: none;
}

.app {
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.5rem;
    padding: 1rem;
    overflow-y: auto;
    box-shadow: $glow;
    box-sizing: border-box;
    border-radius: $rounding;
}

.header {
    background: rgba($gray-dark, 0.7);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: $rounding;
    width: 100%;
    box-sizing: border-box;
}

.body {
    display: flex;
    width: 100%;
}

.talent-paths {
    flex-grow: 1;

    .path {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        flex-wrap: wrap;
        justify-content: center;

        .path-name {
            text-transform: uppercase;
            margin: 0.5rem 2rem;
        }

        @at-root .talents {
            display: flex;
            align-items: center;
            flex-grow: 1;
            flex-wrap: wrap;

            .flow {
                background: $gray-dark;
                height: 1rem;
                flex-grow: 1;
                min-width: 1rem;
                box-shadow: inset $glow;
            }

            .talent {
                @mixin sprite-background-position($y) {
                    background-position: calc(var(--sprite-index) * -#{$sprite-size}) $y;
                }

                
                @mixin background-gradient($color) {
                    background: linear-gradient($color 50%, $gray-dark 1%, $color);
                }
                
                @at-root %light-icon {
                    div {
                        @include sprite-background-position(0);
                    }
                }

                @include background-gradient($gray);
                padding: 0.25rem;
                border-radius: $rounding;
                box-shadow: inset $glow;
                margin: 0.5rem 0;
                position: relative;
                cursor: pointer;

                &:disabled {
                    cursor: not-allowed;
                }

                &.active {
                    @extend %light-icon;
                    @include background-gradient(#81a2ff);
                    box-shadow: 0 0 5px 1px white;

                    + .flow {
                        background: $gray;
                    }
                }

                &:not(:disabled):hover {
                    @extend %light-icon;
                }

                div {
                    border-radius: $rounding;
                    box-shadow: $glow;
                    background-image: url("./Images/talent-icons-sprite.png");
                    width: $sprite-size;
                    height: $sprite-size;
                    @include sprite-background-position($sprite-size);
                }
            }
        }
    }
}
